.popup-image-1 {
    background-image: url(../img/ann-index.png);
}
h1.large{
  font-size: 6rem;
  line-height: 2;
}
.menu__controls{
  z-index: 999
}
.loading-dots .dot{
  background: #000;
}
.menu,.main-section__aside{
	background-color: #000f22
}
h1 span{
	color: #000f22
}
.about-image {
    background-image: url(../img/port/about-1.jpg);
}
.map-image {
    background-image: url(../img/ann-map.png);
}
.feature-image-1 {
    background-image: url(../img/port/about-2.jpg);
}
.feature-image-2 {
    background-image: url(../img/port/about-3.jpg);
}
.h4 small{
	background: #b0d1fb!important;
}