@font-face{
  font-family:'Gotham-Book';
     src: url('fonts/Gotham-Book.eot');
       src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gotham-Book.woff') format('woff'),
         url('fonts/Gotham-Book.ttf') format('truetype'),
     url('fonts/Gotham-Book.otf') format('truetype'),
         url('fonts/Gotham-Book.svg#AvenirLT-Medium') format('svg');
    font-style:normal;
} 
@font-face{
  font-family:'Gotham';
     src: url('fonts/Gotham-Medium.eot');
       src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gotham-Medium.ttf') format('truetype'),
     url('fonts/Gotham-Medium.otf') format('truetype'),
         url('fonts/Gotham-Medium.svg#AvenirLT-Medium') format('svg');
    font-style: normal;
  font-weight:500;
} 
@font-face{
  font-family:'Gotham';
     src: url('fonts/Gotham-Light.eot');
       src: url('fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gotham-Light.woff') format('woff'),
         url('fonts/Gotham-Light.ttf') format('truetype'),
     url('fonts/Gotham-Light.otf') format('truetype'),
         url('fonts/Gotham-Light.svg#AvenirLT-Medium') format('svg');
    font-style:normal;
  
} 
@font-face{
  font-family:'Gotham';
     src: url('fonts/Gotham-Bold.eot');
       src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         /*url('fonts/Gotham-Bold.woff') format('woff'),*/
         url('fonts/Gotham-Bold.ttf') format('truetype'),
     url('fonts/Gotham-Bold.otf') format('truetype'),
         url('fonts/Gotham-Bold.svg#AvenirLT-Medium') format('svg');
    font-style: normal;
  font-weight:700;
}

body,.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family:"Gotham","Open Sans",Helvetica,Arial,sans-serif,Arial;  
}

.preloader::before, .preloader::after,.navbar-area,
.navbar-style-three .raque-nav,.raque-nav .navbar,
.slider_area .metis .tp-bullet.selected, 
.slider_area .metis .tp-bullet:hover,
.funfacts-inner,
.go-top,
.become-instructor-partner-content.bg-color,
.single-events-box .events-box .events-content .content .join-now-btn::before,
.single-footer-widget .social-link li a:hover, 
.single-footer-widget .social-link li a:focus,
.login-content .login-form form button{
  background: #009fdf;
}
.top-header-style-four,
.raque-responsive-nav .mean-container a.meanmenu-reveal span{
  background: #fff;
}
.top-header-style-four .top-header-login-register li a, 
.top-header-style-four .top-header-contact-info li a, 
.top-header-style-four .top-header-social span,
.top-header-style-four .top-header-social a,
.top-header-style-four .top-header-contact-info li,
.raque-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, 
.raque-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, 
.raque-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active,
.about-content .sub-title,
.section-title .sub-title,
.single-events-box .events-box .events-content .content .location i,
a:hover, a:focus,
.single-footer-widget .social-link li a,
.login-content .login-form form .forgot-password a,
.events-details-header .events-meta ul li span{
  color: #009fdf;
}
.raque-nav .navbar .navbar-nav .nav-item:hover a, 
.raque-nav .navbar .navbar-nav .nav-item.active a,
.raque-nav .navbar .navbar-nav .nav-item a:hover, 
.raque-nav .navbar .navbar-nav .nav-item a:focus, 
.raque-nav .navbar .navbar-nav .nav-item a.active,
.raque-nav .navbar .navbar-nav .nav-item a{
  color: #fff
}
.home-slides.owl-theme .owl-dots .owl-dot:hover span, 
.home-slides.owl-theme .owl-dots .owl-dot.active span,
.home-slides.owl-theme .owl-nav [class*=owl-]:hover{
  background: #000;
}
.default-btn{
  background-color: #009fdf;
  border-color: #009fdf;
}
.raque-nav .navbar .navbar-nav .nav-item .dropdown-menu{
  border-top: 2px solid #000;
}
.owl-carousel .owl-item,.main-banner{
  max-height: 500px;
}
.home-slides.owl-theme .owl-nav [class*=owl-]{
  bottom: 50%;
}
.main-banner{
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 47vw;
}
.main-banner-content{
  margin-top: 0
}
.main-banner-content h1{
  font-weight: 600;
  font-size: 48px;
}
.single-events-box .events-box .events-content{
  max-width: 75%;
  ms-flex: 0 0 75%;
  flex: 0 0 75%;
}
.page-title-area{
  padding: 50px 50px;
}
.login-area{
  background-image: url(../images/bg3.png);
  background-size: cover;
  /*overflow: auto;*/
  /*height: 100vh*/
}
.login-content .login-form h3{
  font-weight: 400;
  font-size: 36px;
}
.login-form{
    position: relative;
    box-shadow: 0px 0px 15px #c4d2e2;
    background: #ffffff;
    margin: 60px auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding:30px 50px;
    border-radius: 8px;
}
.login-content .login-form form .form-control{
  border: 1px solid #ccc;
  box-shadow: none;
  height: 42px
}
.login-content .login-form form button{
  border: none;
}
.overlay{
  background: rgba(0,0,0,0.7);
  min-height: 100%;
}
.divide {
    text-align: center;
    height: 1px;
    margin: 30px 0 30px;
    background-color: #ededed;
}
.divide span {
    position: relative;
    top: -20px;
    display: inline-block;
    padding: 10px;
    font-style: italic;
}
.single-courses-box .courses-content h3{
  font-weight: 500;
  font-size: 16px
}
.login-content {
     height: 90%; 
}
.single-courses-box .courses-content{
  min-height: 86px;
    padding: 12px 18px;
}
.single-courses-list-box .box-item .courses-desc .courses-content{
  padding: 14px 12px;
}
.single-courses-list-box .box-item .courses-image{
  ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.single-courses-list-box .box-item .courses-desc .courses-content h3 {
     margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    min-height: 45px;
}
.single-events-box .events-box .events-content .content h3 a{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.single-events-box .events-box .events-content .content h3 a:hover{
  overflow: visible;
  white-space: normal;
}
.single-events-box .events-box .events-content .content {
    padding: 10px 10px;
}
.single-categories-courses-box h3{
  font-size: 18px;
  font-weight: 500;
}
.products-details-tab .tabs li.current a{
  background-color: #009fdf;
  border: none;
}



