.lightbox{
    margin-top: 20px!important;
}
#content{
    /*width: 100%;*/
}
.modal-backdrop.in{
    display: none!important;
}
.reply{
	max-width: 80%;
    margin: 0 auto;
    display: none;
    /*background: rgba(204, 204, 204, .4);*/
}
.blog_comment, .dasboard-top-wrapper{
    background: #fff;
    border: 0
}
.blog_comment div div.mr-2{
	min-width: 50px;
    height: auto;
}
.comment_reply{
    max-width: 80%;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 5px;
    display: none;
}
.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 24px;
}
.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.bg-primary, .bg-primary a {
    color: #fff;
}
.bg-primary {
    background-color: #5fa2dd;
}
.bg-success, .bg-success a {
    color: #fff;
}
.bg-success {
    background-color: #91c957;
}

.widget-header {
    padding: 15px 15px 50px 15px;
    min-height: 100px;
    position: relative;
    overflow: hidden;
}
.panel .panel-footer, .panel>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.widget-body {
    padding: 50px 15px 15px;
    position: relative;
}
.panel-body {
    padding: 25px 20px;
}
.pad-all {
    padding: 15px;
}
.widget-img {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 50%;
    margin-left: -32px;
    top: -32px;
}
.img-md {
    width: 64px;
    height: 64px;
}
.widget-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.img-border-light {
    box-shadow: 0 0 0 4px #fff;
}
.img-border {
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
}
.mar-no {
    margin: 0 !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}
.text-muted, a.text-muted:hover, a.text-muted:focus, a.text-muted:focus {
    color: #606060;
}
.loadMore:focus, .loadMore:hover{
    color: #000;
}
.mar-btm {
    margin-bottom: 15px;
}
.pad-ver {
    padding-top: 15px;
    padding-bottom: 15px;
}
.pad-btm {
    padding-bottom: 15px;
}
.pad-top {
    padding-top: 8px;
}
.small, small {
    font-size: 65%;
}
.text-lg {
    font-size: 75%;
}
.btn {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 0;
    border: 1px solid 0;
    font-size: 11px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .25s;
    transition: all .25s;
}
.widget-body p{
    line-height: 1.2rem
}

#fullname, #occupation, #business, #interest, #industry {
    text-transform: capitalize;
}
.widget-cources-list li a{
    display: flex;
}
.widget-cources-list li a:hover{
    color: #007bff!important;
    margin-left: 12px;
}

.loadReply{
    border-radius: 50%;
    padding: 0px 6px;
}
.form-control{
    height: 32px;
}

.add-reply-comments::before {
  content: "|";
  margin-right: 10px;
  font-weight: 400;
}

.emojioneemoji{
    width: 16px;
}

.avatar-img{
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.popover{
    min-width: 330px; /* Max Width of the popover (depending on the container!) */
    font-family: inherit;
    border: 1px solid var(--primary-color);
}

.popover{
}

.popover .arrow {
    display: none;
}

.post-image{
    display: none;
}

.post-image:first-child{
    display: block;
}

/*.col-image .post-image:hover::before {
    content: "VIEW IMAGE";
    color: #fff;
    top: 50%;
    left: calc(50% - 59px);;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    z-index: 99999;
}*/

/*.col-image .post-image:hover::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 15px;
    width: calc(100% - 29px);
    height: 98%;
    background-image: linear-gradient(120deg, #000, var(--primary-color));
    opacity: .7;
    cursor: pointer;
}*/

@media (max-width: 767px){
    .modal .modal-content {
        max-width: none;
    }
}
@media (max-width: 595px){
    .send-msg {
        display: none;
    }
}