/*@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/hinted-AvenirLTStd-Black.eot');
    src: url('../fonts/hinted-AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-AvenirLTStd-Black.woff2') format('woff2'),
        url('../fonts/hinted-AvenirLTStd-Black.woff') format('woff'),
        url('../fonts/hinted-AvenirLTStd-Black.ttf') format('truetype'),
        url('../fonts/hinted-AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/hinted-AvenirLTStd-Heavy.eot');
    src: url('../fonts/hinted-AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-AvenirLTStd-Heavy.woff2') format('woff2'),
        url('../fonts/hinted-AvenirLTStd-Heavy.woff') format('woff'),
        url('../fonts/hinted-AvenirLTStd-Heavy.ttf') format('truetype'),
        url('../fonts/hinted-AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/hinted-AvenirLTStd-Book.eot');
    src: url('../fonts/hinted-AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-AvenirLTStd-Book.woff2') format('woff2'),
        url('../fonts/hinted-AvenirLTStd-Book.woff') format('woff'),
        url('../fonts/hinted-AvenirLTStd-Book.ttf') format('truetype'),
        url('../fonts/hinted-AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/hinted-AvenirLTStd-Roman.eot');
    src: url('../fonts/hinted-AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-AvenirLTStd-Roman.woff2') format('woff2'),
        url('../fonts/hinted-AvenirLTStd-Roman.woff') format('woff'),
        url('../fonts/hinted-AvenirLTStd-Roman.ttf') format('truetype'),
        url('../fonts/hinted-AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/hinted-AvenirLTStd-Light.eot');
    src: url('../fonts/hinted-AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-AvenirLTStd-Light.woff2') format('woff2'),
        url('../fonts/hinted-AvenirLTStd-Light.woff') format('woff'),
        url('../fonts/hinted-AvenirLTStd-Light.ttf') format('truetype'),
        url('../fonts/hinted-AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/hinted-AvenirLTStd-Medium.eot');
    src: url('../fonts/hinted-AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-AvenirLTStd-Medium.woff2') format('woff2'),
        url('../fonts/hinted-AvenirLTStd-Medium.woff') format('woff'),
        url('../fonts/hinted-AvenirLTStd-Medium.ttf') format('truetype'),
        url('../fonts/hinted-AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

* {
    font-family: 'Avenir LT Std', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    font-style: normal;
}*/
.text-white--dim {
    color: #91FCD1;
}

.text-green {
    color: var(--primary-color) !important;
}

.text-blue {
    color: #4b78d2 !important;
}


/*Font-size*/

.font-10 {
    font-size: 10px!important;
}

.font-11 {
    font-size: 11px!important;
}

.font-12 {
    font-size: 12px!important;
}

.font-13 {
    font-size: 13px !important;
}

.font-14 {
    font-size: 14px!important;
}

.font-16 {
    font-size: 16px!important;
}
.font-18 {
    font-size: 18px!important;
}

.font-25 {
    font-size: 25px !important;
}

.font-35 {
    font-size: 150% !important;
}

.font-50 {
    font-size: 50px;
}

.font-60 {
    font-size: 60px;
}

.line-height--14{
    line-height: 14px;
}

.font-weight-500{
    font-weight: 500;
}

.font-weight-600{
    font-weight: 600;
}

.font-weight-900{
    font-weight: 900;
}
