.file-upload{display:block;text-align:center;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#fea116;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#fea116;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

.select2-selection.select2-selection--single {
    width: 100%!important;
    left: -27%!important;
    height: calc(1.5em + .75rem + 2px)!important;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
}

.select2.select2-container {
    width: 100%!important
}

.select2-selection__rendered {
    line-height: 2!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 8px;
    top: 2px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #90979e;
    font-size: 14px;
    padding-left: 25px
}

.select2-results__option {
    font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: none;
    border-style: none;
    border-width: 5px 4px 0 4px;
    left: 50%;
    margin-left: -4px;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    height: 7px;
    margin-top: -8px;
    right: 30px;
    top: 15px;
    width: 7px;
}

.select2-container--open .select2-dropdown--below {
    top: -15px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    text-align: left;
}

.gj-textbox-md{
    background: #fff;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    line-height: 1.5;
}