.section#get-started
	.container
		.section-title.mb-4.font-weight-normal
			| Get started for free today
		.row
			.col-md-6.col-xl-5.mx-auto
				p.text-center.mb-4
					| Launch online training in your company in just 30 mins! Try free for 14 days.

				.form-group
					.input-group.active
						input.form-control#email(type="email", name="", placeholder="Enter your email", required)
						span.input-group-append
							button.btn.btn-primary(type="submit") Sign Up

				p.text-center.text-secondary: small Get started for free. No credit card required.