.form-group.text-center
	p or use the below options

	.row.login-options
		.col-auto
			a.login-option(href="javascript:")
				img(src="/assets/svg/vendors/google.svg", alt="Login with Google")
		.col-auto.row-divider
		.col-auto
			a.login-option(href="javascript:")
				img(src="/assets/svg/vendors/linkedin.svg", alt="Login with Linkedin")