@font-face{
  font-family:'Gotham-Book';
     src: url('fonts/Gotham-Book.eot');
       src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gotham-Book.woff') format('woff'),
         url('fonts/Gotham-Book.ttf') format('truetype'),
     url('fonts/Gotham-Book.otf') format('truetype'),
         url('fonts/Gotham-Book.svg#AvenirLT-Medium') format('svg');
    font-style:normal;
} 
@font-face{
  font-family:'Gotham';
     src: url('fonts/Gotham-Medium.eot');
       src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gotham-Medium.ttf') format('truetype'),
     url('fonts/Gotham-Medium.otf') format('truetype'),
         url('fonts/Gotham-Medium.svg#AvenirLT-Medium') format('svg');
    font-style: normal;
  font-weight:500;
} 
@font-face{
  font-family:'Gotham';
     src: url('fonts/Gotham-Light.eot');
       src: url('fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gotham-Light.woff') format('woff'),
         url('fonts/Gotham-Light.ttf') format('truetype'),
     url('fonts/Gotham-Light.otf') format('truetype'),
         url('fonts/Gotham-Light.svg#AvenirLT-Medium') format('svg');
    font-style:normal;
  
} 
@font-face{
  font-family:'Gotham';
     src: url('fonts/Gotham-Bold.eot');
       src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         /*url('fonts/Gotham-Bold.woff') format('woff'),*/
         url('fonts/Gotham-Bold.ttf') format('truetype'),
     url('fonts/Gotham-Bold.otf') format('truetype'),
         url('fonts/Gotham-Bold.svg#AvenirLT-Medium') format('svg');
    font-style: normal;
  font-weight:700;
}
.slick-prev:before, .slick-next:before{
      color: #554a74;
}
.slick-initialized .slick-slide{
  display: inline-block;
}
a.box_feat:hover{
      color: #ba15a3!important;
}
.box_feat p,.box_feat button{
    font-weight: 600;
    /*text-transform: capitalize;*/
}
a.social_bt{
  font-weight: 500;
}
a.social_bt.twitter {
    background-color: #3f9fff;
}
a.social_bt.twitter:before {
    content: "\e094";
    font-family: ElegantIcons;
    position: absolute;
    left: 12px;
    top: 10px;
    font-size: 16px;
    font-size: 1rem;
    color: #fff;
}
.btn-nude{
  border: 0;
  font-weight: 500;
  color: #5a3092;
  background: transparent;
}
.btn-nude:hover{
  color: #bb16a3;
}
.btn-nude:focus{
  outline: none!important;
  box-shadow: none!important;
}
a.btn_1{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 30px 10px 30px!important;
}
ul#additional_links li a{
  font-size: 14px;
}
/** Mac Scripts */
/*.mac .btn_1 { padding: 16px 30px 5px 30px!important; }
.mac .box_grid ul li:last-child a { padding: 22px 16px 12px 19px!important; }*/
/** Mac Scripts */

.features ul li {
  width: 25%!important;
}
.features{
  background-color: #fff!important;
  /*border-bottom: 1px solid #999!important;  */
}
.features span{
  color: #000
}
#reccomended .owl-item.active.center,#reccomended .owl-item {
    opacity: 1;
     -webkit-transform: translateZ(0) scale(.85, .85); 
     transform: scale(.85); 
}
.box_grid .wrapper{
  min-height: 150px;
}
body{
  font-family:"Gotham","Open Sans",Helvetica,Arial,sans-serif,Arial;  
  font-size:15px;
}
:root {
  /* Not my favorite that line-height has to be united, but needed */
  --lh: 1.4rem;
}
.truncate-overflow {
  --max-lines: 4;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
}
.truncate-overflow::before {
  position: absolute;
  content: "...";
  /* tempting... but shows when lines == content */
  /* top: calc(var(--lh) * (var(--max-lines) - 1)); */
  
  /*
  inset-block-end: 0;
  inset-inline-end: 0;
  */
  bottom: 0;
  right: 0;
}
.truncate-overflow::after {
  content: "";
  position: absolute;
  /*
  inset-inline-end: 0;
  */
  right: 0;
  /* missing bottom on purpose*/
  width: 1rem;
  height: 1rem;
  background: white;
}
.hamburger{
  margin-top: 7px;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.68rem + 2px);
}
.form-control {
    font-size: 14px;
    font-size: 0.875rem;
    padding: .65rem!important;
}
.text-gold2 {
    color: #ffc107;
}
.rating2 {
    padding: 10px 5px 10px 5px;
    background-color: #9d2f92;
    border-radius: 5px;
    text-align: center;
    width: 50px;
    color: #fff;
    margin: 0 auto;
}
#slider.flexslider li .meta{
	bottom: 50%
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}


.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/* Customize the label (the container) */
.container.round {
  display: block;
  position: relative;
  padding-left: 31px;
  margin-bottom: 7px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container.round input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #9e9e9e;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.woman{
  background: #fff!important;
}
header.woman.sticky{
  background: #fff!important;
  box-shadow: 0px 3px 5px #e6c6df;
}
.main-menu.woman>ul>li span>a{
  color: #ac3e95!important;
}
.hamburger.woman{
  background-color: #aa3992!important;
}
.albums{
  font-size: 16px;
}
ul.list_3.albums li{
  margin-bottom: 5px!important;
}
ul.list_3.albums li:before{
  margin-left: -2px!important;
}
.slider{
  margin-top: 87px;
}
@media (max-width:991px) {
  .slider{
    margin-top: 57px;
  }
}
.btn-services{
  border: none;
  background: transparent;
  color: #5c2584;
  margin: 0 auto;
  padding-top: 5px;
  display: block;
}
.pointer{
  cursor: pointer;
}
.text-content {   
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.fw-100{
  font-weight: 400;
  font-size: 15px;
}
.mm-menu .mm-navbar a, .mm-menu .mm-navbar>* {
    color: #fff;
}
.mm-menu .mm-btn:after, .mm-menu .mm-btn:before {
    border-color: #fff;
}
.mm-navbars-bottom {
    visibility: hidden;
}
.cat li a{
  color: #662d91;
  font-weight: 500;
}
.cat li a.active{
  color: #fbb700;
}
.cat li a:hover{
  color: #9d2f92;
}
a#filters_col_bt:before{
  display: none;
}
a#filters_col_bt{
  font-weight: 500
}
.truncate {
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
label {
    display: block;
}
input,
label {
    margin: .4rem 0;
}
.note {
    font-size: .8em;
}
.input-container {
  margin: 1.5em auto;
  max-width: 300px;
  background-color: #EDEDED;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
}

input[type='file'] {
  display: none;
}

.file-info,.file-info2 {
  font-size: 0.9em;
}

.browse-btn,.browse-btn2 {
  background: #333;
  color: #fff;
  min-height: 35px;
  padding: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.browse-btn:hover {
  background: #4ec0b4;
}

.solar{
  background: url(../img/solar.jpg);
  background-size: cover;height: 34vw;
  background-position-x: left;
}

.nice-select.open .list{
    max-height: 200px;
    overflow: scroll;
    width: 100%;
}

@media (max-width: 300px) {
  button {
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }
  
  .file-info {
    display: block;
    margin: 10px 5px;
  }
}
#profile_bg {
    background: url(../img/music1.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.form-group.select {
  margin: 20px 0;
}
@media (max-width:991px) {
    .mm-menu {
        background: #5c2684!important;
        border-color: rgba(0,0,0,.1);
        color: #fff;
    }
    .woman {
        background: #fff; 
    }
    .mm-listview>li:hover {
        background: #fbb700;
        color: #fff;
    }
    ul.mm-listview li a {
        color: #fff!important;
        display: block;
    }
}
.grid_item {
    display: block;
    margin-bottom: 30px
}

.grid_item .info {
    position: absolute;
    width: 100%;
    z-index: 9;
    display: block;
    padding: 25px 25px 10px;
    color: #fff;
    left: 0;
    bottom: 0;
    background: 0 0;
    background: -webkit-linear-gradient(top, transparent, #000);
    background: linear-gradient(to bottom, transparent, #000);
    box-sizing: border-box
}

.grid_item .info small {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 500
}

.grid_item .info small i {
    font-size: 18px;
    font-size: 1.125rem;
    margin-right: 10px
}

.grid_item .info h3 {
    color: #fff;
    font-size: 21px;
    font-size: 1.3125rem
}

.grid_item .info p {
    color: #fff;
    margin-bottom: 0;
    font-size: 15px;
    font-size: .9375rem
}

.grid_item figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%
}

@media (max-width:767px) {
    .grid_item figure, .grid_item figure img {
        height: 300px!important
    }
}

.grid_item figure img {
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0
}

.grid_item:hover figure img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

#newsletter input[type=submit]{
  margin-top: 0px;
}

.grid.grid_1 ul li figcaption, .grid ul li figure img{
  height: auto!important;
}

.modal-backdrop.show{
  z-index: -999999999999999;
}
.modal-open .modal{
  background: #2222228f;
}
.btn_1.outline:hover, a.btn_1.outline:hover {
    background: #333333;
    color: #fff;
    border-color: #333333;
}
form .error {
  color: #ff0000;
}
button:focus{
  outline: none;
}
.btn_1.disabled,.btn_1:disabled{
  opacity: .65;
  cursor: auto;
}
.btn_1.disabled:hover,.btn_1:disabled:hover{
  background: #bb16a3;
  color: #fff;
}