.color-1{
	background: #EC008C;
}
.color-2{
	background: #B68500;
}
.color-3{
	background: #F99D1C;
}
.color-4{
	background: #008D48;
}
.color-5{
	background: #810C45;
}
.color-6{
	background: #AC005A;
}